.mainresetpssword{
    width: 50vw;; 
    margin:70px auto;
background-color: white;
    border:1px solid rgb(117, 106, 106);
    box-shadow:0 2px 3px #ccc;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
border-radius: 10px;
}
.mainresetpssword input{
    direction: ltr;
    width: 90%;
    padding: 15px;
    margin-bottom:15px;
    border-radius: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}
.resetrecaptcha{
  direction: rtl;
display: flex;
align-items: flex-start;
margin-right: 5%;

}
.errorresetpassword{
    display: flex;
    justify-content: center;
margin:5px auto;
/* text-align: center; */
    width: 90%;
    background-color: rgb(207, 126, 197);
    padding:10px;
}
.changepasswordbutton{
    direction: rtl;
    width:20%;
    padding: 10px;
    /* margin-bottom:15px; */
    /* margin: 15px auto; */
    margin-top: 15px;
    margin-bottom: 15px;
   margin-left:75%;
    border-radius: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    display: block;
    background-color: #2980b9;
    color: white;
    box-sizing: border-box;
}

@media(max-width:900px){
    .mainresetpssword{
        width: 80vw;
    } 

}
@media(max-width:1000px){
    .changepasswordbutton{
        font-size:15;
        width: 40%;
        margin-left:55%;
    } 
}