.changepass{
    width: 50vw;; 
    margin:10px auto;
background-color: white;
    border:1px solid rgb(117, 106, 106);
    box-shadow:0 2px 3px #ccc;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;

}
.changepass input{
    direction: ltr;
    width: 90%;
    padding: 15px;
    margin-bottom:15px;
    border-radius: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}
.recaptcha{
    width: 95%;
display: flex;
justify-content: flex-end;
}
.changepassworderror{
    display: flex;
    justify-content: center;
margin:5px auto;
/* text-align: center; */
    width: 90%;
    background-color: rgb(218, 117, 117);
    padding:10px;
}
.changepass button{
    direction: rtl;
    width: 20%;
    padding: 10px;
    /* margin-bottom:15px; */
    /* margin: 15px auto; */
    margin-top: 15px;
    margin-bottom: 15px;
   margin-left:75%;
    border-radius: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    display: block;
    background-color: #00a8ff;
    color: white;
    box-sizing: border-box;
}

@media(max-width:900px){
    .changepass{
        width: 80vw;
    } 
}
@media(max-width:1000px){
    .changepass button{
        font-size:15;
        width: 30%;
        margin-left:65%;
    } 
}