.mainbuys{
    display: flex;
    flex-direction: column;
    direction: rtl;

}
.buydetail{
display: block;
/* flex-direction: row; */
/* height: 200px; */
background-color: white;
margin: 10px auto;
width: 90%;
    /* border: 1px solid gray; */

}
.buysImage{
    width: 50%;
    height: 60%;
}
.mainimagebuy{
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.buystitle{
    display: flex;
    flex-direction: column;
    flex: 0.7;
justify-content: space-around;
align-items: flex-start;
padding-right: 10px;


}
.buytitletext{
    /* display: block; */

    /* margin-top: 5vh; */
    font-size: 12px;
}
.buyprice{
    /* flex: 0.333; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 30px;
    border-bottom: 1px solid gray;

}
.postdetail{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 200px;
   
}
.buynumber{
    flex: 0.333;
    display: flex;
    /* flex-direction: row; */
     /* color: rgb(9, 112, 26); */
    align-items: center;
    justify-content:space-around;
    font-size: 12px;
}
.inputnumberbuy{
    padding: 2px;
    border: 1px solid gray;
    /* flex: 0.2; */
    width: 50%;
    text-align: center;
}
.spinner{
    margin-top: 200;
    position: static;

    
}
.buysprices{
    display: flex;
    justify-content: space-around;
    /* height: 10vh; */
    background-color: lightcoral;
    align-items: center;
    width: 80%;
    margin:10px auto;
    margin-bottom: 80px;
  padding: 10px;
}
.buyspricesbutton{
    width:15% ;
    background-color: green;
    border: 1px solid green;
/* font-size: 20px; */
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
.nologin{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 50px;
  height: 100px;
  background-color: tomato;
}
@media screen and (max-width: 700px) {
    .buysImage{
      width: 100%;
    }
    /* .buydetail{
        height: 15vh;
    } */
   }
   @media screen and (max-width: 1000px) {
    .buyspricesbutton{
       width: 25%;
    }
   }
   @media screen and (max-width: 800px) {
    .buyspricesbutton{
    
        width: 30%;
    }
   }
   @media screen and (max-width: 800px) {
    .buyspricesbutton{
    
        width: 30%;
    }
   }
   @media screen and (max-width: 550px) {
    .buysprices{
    display: flex;
    flex-direction: column;
height: 20vh;
     width: 100%;
    }
    .buyspricesbutton{
        width: 80%;
     }
   }
  
   @media screen and (max-height: 500px) {
    /* .buydetail{
height:30vh ;
    } */

   }