
.mainsearch{
display: flex;
}
.search{
  display: flex;
  flex:0.7;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
 .searchBartext{
flex: 0.3;
justify-content: center;
   display: flex;
   align-items: center;
    }
    .maininputicon{
      display: flex;
      flex: 0.7;
     
    }
    .textstyle{
 font-size: 35px;
 font-weight: bold;
 margin: 20px;

    }
    .searchinput {
 
      flex: 0.9;
      box-sizing: border-box;
      height: 38px;
      border-radius: 5px;
      border: 1px solid red;
      outline: none;
      box-sizing: border-box;
    padding: 20px;
    border-right: none;
  border-right-width: '0px';
  border-top-right-radius: '0px';
  border-bottom-right-radius:'0px';
   direction: rtl;
    }
    .mainiconsearch{
     display: flex;
     flex: 0.1;
     /* height: 35px; */
     /* justify-content: center; */
     align-items: center;
     /* background-color: gray; */
    margin-top: 9px;
    border-radius: 5px;
    /* border-bottom-left-radius:0px ;
    border-top-left-radius: 0px; */
    }
    .iconsearch{
   height: 38px;
   background-color: thistle;
   padding: 7px 5px;
   border-radius: 5px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
    }
    /* @media(max-width:970px){
      .input{
        margin-left: 20vw;
      }
    } */
    @media(max-width:970px){
      .textstyle{
      font-size: 25px;
      }
    }