.mainpanel{
  display: flex;
/* margin-left: 10vw; */
margin-top: 30px;
justify-content: center;
}
.createpost{
display: flex;
align-items: center;
flex-direction: column;

margin-right: 20%;
}
.inputs{
  padding: 15px;
  border: 1px solid black;
  width: 50vw;
  border-radius: 10px;
  direction: rtl;
  margin-bottom: 10px;
  font-size: 20px;
}
.createpost textarea{
width: 50vw;
height: 30vh;
direction: rtl;
margin-bottom: 10px;
font-size: 50px;
}

.createpost button{
  padding:10px;
  background-color: green;
  border: 1px solid black;
  font-size: 20px;

}
.fileupload{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 padding-top: 2px;
 padding-bottom: 2px;
  border: 1px solid black;
  width: 50vw;
  border-radius: 10px;
  direction: rtl;
 /* width: 50vw; */
  font-size: 20px;
  /* margin-left: 20%; */
margin-top: 10px;
  background-color: green;
}
.fileinput{
  padding: 15px;
  border: 1px solid black;
  width: 50vw;
  border-radius: 10px;
  direction: rtl;
  margin-bottom: 10px;
  font-size: 20px;
opacity: 0;
}
.filetext{
  position: absolute;

}
.inputselect{
  display: flex;
}
.selectbox{
  width:30vw;
height: 5vh;
margin-top: 2vh;
}
  
.vertical-menu {
  width:15vw;
  height: 90vh;
right: 0px;
  background-color: green;
  position: fixed;
  margin-top: 50px;
}
.vertical-menu a {
  text-align:center;
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  
}
.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
  .error{
    background-color: brown;
    padding: 5%;
  }